.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 16px 12px;
  padding: 0 12px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
