.button {
  padding: 10px 15px;
  background-color: #f8a917; /*var(--tg-theme-button-color, #187ff7)*/
  color: #fff; /*var(--tg-theme-text-color, #187ff7)*/
  border: none;
  outline: none;
  cursor: pointer;
}
