.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.header-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.header-btn {
  background-color: #e64d44;
  margin-left: auto;
}
