.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.username {
  font-size: 20px;
}

.header-btn {
  background-color: #e64d44;
  margin-left: auto;
  font-size: 14px;
}
