.product {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  border: 1px solid var(--tg-theme-button-color, #eee);
  padding: 12px;
}

.img {
  width: 100%;
  height: 100px;
  margin-bottom: 12px;
  background-color: var(--tg-theme-button-color, #eee);
}

.title {
  font-size: 18px;
}

.description {
  font-size: 12px;
}

.price {
  font-size: 12px;
}

.add-btn {
  width: 100%;
  font-size: 12px;
}
