.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-button-color);
  padding: 15px;
  width: 170px;
}

.img {
  width: 100%;
  height: 100px;
  margin: 0 10px;
  background-color: var(--tg-theme-button-color);
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
}
