.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-button-color, #eee);
  padding: 0;
}

.img-wrapper {
  width: 100%;
  background-color: #323337;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-content {
  padding: 8px 4px;
  font-size: 14px;
  line-height: 16px;
  min-height: 86px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.add-btn {
  width: 100%;
  font-size: 12px;
}
