.product {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.product::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
  background-image: url('./halal.svg');
  background-repeat: no-repeat;
}

.img-wrapper {
  width: 100%;
  background-color: #323337;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-content {
  padding: 8px 4px;
  font-size: 14px;
  line-height: 16px;
  min-height: 86px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.add-btn {
  width: 100%;
  font-size: 16px;
}
